@import url(http://fonts.googleapis.com/css?family=Rochester);

/* ------ general
-----------------------------------------------*/

html, body {
padding:0;
margin:0;
height:100%;
min-height:100%;
}

body {
font-family:Arial, Helvetica, sans-serif;
/*background:url(../images/bg.png) repeat;*/
font-size:12px;
color:#aaa;
}

.title {
position:absolute;
top:30px;
left:30px;
}

.title h1 {
margin-top:0;
color:#f5f5f5;
font-family:'Rochester', serif;
font-size:48px;
font-weight:normal;
}

.title p {
margin-bottom:5px;
}


.showcase {
width:200px;
height:400px;
position:absolute;
top:50%;
left:50%;
margin:-200px 0 0 -100px;
overflow:hidden;
}

.showcase .inside {
position:absolute;
top:50%;
left:0;
height:150px;
width:150px;
margin-top:-75px;
}

.showcase .inside a {
display:block;
position:absolute;
top:0;
left:0;
width:150px;
height:150px;
overflow:hidden;
-webkit-transform-style: preserve-3d;
-webkit-transform: perspective(300px) rotateY(-20deg);
-webkit-transition: all .5s linear;
-webkit-box-shadow: 0 0 10px #555;
box-shadow: 0 0 10px 2px #111;
background-color: black;
}

.showcase .inside a img{
width:150px;
height:auto;
}

.helper a {
position:fixed;
display:block;
width:64px;
height:64px;
text-indent:-9999px;
outline:none;
background-repeat:no-repeat;
top:50%;
margin-top:-32px;
}

.helper .prev {
left:1%;
background-image:url(../img/prev.jpg);
}

.helper .next {
right:1%;
background-image:url(../img/next.jpg);
}


a {
color:#eee;
text-decoration:none;
}

.friendName {
	position: absolute;
	top : 50%;
	left: 50%;
	margin:-120px 0 0 -50px;
  	font-family: "your ideal typeface", Verdana, sans-serif;
  	font-size: 20px;
  	line-height: 20px;
  	text-shadow: -3px 0 4px #006;
}